@import "tailwindcss";

@theme {
  --color-nx-green: #90c641;
  --color-nx-green-hover: #82b43b;
  --color-nx-dark: #12373c;
  --color-nx-bg: #f9fbf7;
  --color-nx-card: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-nx-bg);
  color: var(--color-nx-dark);
}
